################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PriceOptimizerCoreApplication
/.vs
/PriceOptimizerCoreApplication/.vs
/PriceOptimizerCoreApplication.web/bin
