@* 
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Price &amp; Plans</span>
                <h2>Affordable Packages</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                
                <div class="block-7">
                    <div class="container">
                        
                                    <div class="text-center">
                                        <span class="excerpt d-block">Personal</span>
                                        <span class="price"> <span class="numberone"> Starts from only <sup class="icon icon-rs">₹</sup> 1199 </span> <sub class="icon icon-rs">/Yr </sub></span>
                                        <ul class="pricing-text mb-5">
                                            <li><span class="fa fa-check mr-2"></span>Returns for Salaried person</li>
                                            <li><span class="fa fa-check mr-2"></span>Returns for Capital Gain</li>
                                            <li><span class="fa fa-check mr-2"></span>Returns with one House Property</li>
                                            <li><span class="fa fa-check mr-2"></span>Investment Consultation</li>
                                            <li><span class="fa fa-check mr-2"></span>Tax Savings Plan</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary d-block px-2 py-3" data-toggle="modal"   data-backdrop="static" data-keyboard="false" onclick="GetHtmlPersonal(this);" data-type="Personal">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="block-7">
                    <div class="container">
                                    <div class="text-center">
                                        <span class="excerpt d-block">Small Business</span>
                                        <span class="price"> <span class="numberone">Starts from only <sup class="icon icon-rs">₹</sup> 2999</span> <sub class="icon icon-rs">/Yr</sub></span>

                                        <ul class="pricing-text mb-5">
                                            <li><span class="fa fa-check mr-2"></span>Yearly Return</li>
                                            <li><span class="fa fa-check mr-2"></span>Final A/c</li>
                                            <li><span class="fa fa-check mr-2"></span>Balance Sheet</li>
                                            <li><span class="fa fa-check mr-2"></span>Investment Consultation</li>
                                            <li><span class="fa fa-check mr-2"></span>Tax Savings Plan</li>
                                            &nbsp;
                                            <li></li>
                                            &nbsp;
                                            <li></li>
                                        </ul>
                                        <a href="#" class="btn btn-primary d-block px-2 py-3"  data-toggle="modal"   data-backdrop="static" data-keyboard="false" onclick="GetHtmlPersonal(this);"  data-type="Small Business">Get Started</a>
                                   
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="block-7">
                    <div class="container">
                        
                                    <div class="text-center">
                                        <span class="excerpt d-block">Monthly Accounting</span>
                                        <span class="price"> <span class="numberone">Starts from only <sup class="icon icon-rs">₹</sup>1999</span> <sub class="icon icon-rs">/mos</sub></span>
                                        

                                    <ul class="pricing-text mb-5">
                                        <li><span class="fa fa-check mr-2"></span>Sale Entry</li>
                                        <li><span class="fa fa-check mr-2"></span>Purchase Entry</li>
                                        <li><span class="fa fa-check mr-2"></span>Cash Entry</li>
                                        <li><span class="fa fa-check mr-2"></span>Bank Entry</li>
                                        <li><span class="fa fa-check mr-2"></span>MIS Reports</li>
                                        &nbsp;
                                        <li></li>
                                        &nbsp;
                                        <li></li>
                                    </ul>

                                        <a href="#" class="btn btn-primary d-block px-2 py-3"  data-toggle="modal"   data-backdrop="static" data-keyboard="false" onclick="GetHtmlPersonal(this);"   data-type="Monthly Accounting">Get Started</a>
                                   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="block-7">
                    <div class="container">
                       
                                    <div class="text-center">
                                        <span class="excerpt d-block">Payroll</span>
                                        <span class="price"> <span class="numberone">Starts from only <sup class="icon icon-rs">₹</sup>1499</span> <sub class="icon icon-rs">/mos</sub></span>

                                        <ul class="pricing-text mb-5">
                                            <li><span class="fa fa-check mr-2"></span>Calculation of Salary</li>
                                            <li><span class="fa fa-check mr-2"></span>Calculation of PF & ESIC</li>
                                            <li><span class="fa fa-check mr-2"></span>Arrangement for Disbursement of Salary</li>
                                            <li><span class="fa fa-check mr-2"></span>PF & ESIC Returns</li>
                                            <li><span class="fa fa-check mr-2"></span>TDS & TCS Returns</li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>

                                        <a href="#" class="btn btn-primary d-block px-2 py-3"  data-toggle="modal"   data-backdrop="static" data-keyboard="false" onclick="GetHtmlPersonal(this);"  data-type="Payroll">Get Started</a>
                                   
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

 *@